*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:HP;
    src: url(../fonts/Henny_Penny/HennyPenny-Regular.ttf);
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(219, 154, 187);
    margin: 0 auto;
}
.name{
    font-family:HP;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 24px;

}
.gallery__img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}
.gallery{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* snow-start */
#snow{
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none !important; /* важно */
  user-select: none;
}
@media (prefers-reduced-motion: reduce){
  #snow{ display: none !important; }
}
/* snow-end */
@media (max-width: 428px){


.container{
    height: 100%;
 }

 .gallery{
    flex-direction: column;
    align-items: center;
}

    .gallery__img{
        margin-bottom: 24px;
        align-items: center;
}
}


